// @import 'vue-select/dist/vue-select.css';
@import "assets/css/_variables.scss";
@import "bootstrap/scss/bootstrap";
@import "bootstrap-vue/src/index.scss";

.app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // text-align: center;
  color: #2c3e50;

  h2{
    font-weight: 800;
    font-size: 5rem;
    color: blue;
  }
}